<header class="navbar nav-footer navbar-light bg-light" role="navigation">
  <div class="container-fluid nav-font">
    <div class="navbar-header">
      <div class="navbar-nav ml-auto flex-row text-dark">
        <a class="nav-link text-dark" style="padding: 0;">Built on&nbsp;</a>
        <a class="nav-link text-dark" style="padding: 0;" href="https://docs.cucumber.io/gherkin/reference/">Gherkin</a>
        <a class="nav-link text-dark" style="padding: 0;">&nbsp;and&nbsp;</a>
        <a class="nav-link text-dark" style="padding: 0;" href="https://www.seleniumhq.org/">Selenium</a>
      </div>
    </div>
    <div class="navbar nav-footer" id="navbarContent">
      <div class="navbar-nav ml-auto">
        <a class="nav-link text-dark" style="padding: 0;" href="https://github.com/gwen-interpreter/gwen-web/blob/master/README.md#license">Apache 2 license</a>
      </div>
    </div>
  </div>
</header>
