<header class="navbar nav-footer navbar-light bg-light" role="navigation">
  <div class="container-fluid nav-font">
    <div class="navbar-header">
      <div class="navbar-nav ml-auto flex-row text-dark">
        Built&nbsp;on&nbsp;<a class="nav-link text-dark" style="padding: 0;" href="https://docs.cucumber.io/gherkin/reference/">Gherkin</a>&nbsp;&amp;&nbsp;<a class="nav-link text-dark" style="padding: 0;" href="https://www.seleniumhq.org/">Selenium</a>
      </div>
    </div>
    <div class="nav-header" id="navbarContent">
      <div class="navbar-nav ml-auto flex-row text-dark">
        <a class="nav-link text-dark" style="padding: 0;" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2 license</a>
      </div>
    </div>
  </div>
</header>
