<header class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-nav ml-auto">
        <a class="nav item nav-link" href="https://github.com/gwen-interpreter/gwen-web">Open source</a>
      </div>
    </div>
    <div class="navbar" id="navbarContent">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="https://github.com/gwen-interpreter/gwen-web/blob/master/README.md#license">Apache 2 License</a>
      </div>
    </div>
  </div>
</header>
