<header class="navbar nav-header bg-dark sticky-top" role="navigation">
  <div class="container-fluid nav-font">
    <div class="navbar-header">
    </div>
    <div class="navbar nav-header" id="navbarContent">
      <div class="navbar-nav ml-auto flex-row">
        <a class="nav-item nav-link text-light" style="padding-left: 20px" href="https://github.com/gwen-interpreter/gwen/"><i class="fab fa-github"></i> GitHub</a>
        <a class="nav-item nav-link text-light" style="padding-left: 20px" href="https://gweninterpreter.wordpress.com/"><i class="fab fa-wordpress"></i> Blog</a>
        <a class="nav-item nav-link text-light" style="padding-left: 20px" href="https://twitter.com/gweninterpreter/"><i class="fab fa-twitter"></i> Twitter</a>
        <a class="nav-item nav-link text-light" style="padding-left: 20px" href="https://gwenify.com/"><i class="fab"></i><img src="assets/img/gwenify-w-i.png" class="gwenify-header-link" alt="Get Gwen Support"/> Support</a>
      </div>
    </div>
  </div>
</header>
