<header class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="navbar" id="navbarContent">
      <div class="navbar-nav ml-auto flex-row">
        <a class="nav-item nav-link" href="https://github.com/gwen-interpreter/gwen-web/"><i class="fab fa-github"></i> Github</a> <span> &nbsp; </span>
        <a class="nav-item nav-link" href="https://gweninterpreter.wordpress.com/"><i class="fab fa-wordpress"></i> Blog</a> <span> &nbsp; </span>
        <a class="nav-item nav-link" href="https://twitter.com/gweninterpreter/"><i class="fab fa-twitter"></i> Twitter</a>
      </div>
    </div>
  </div>
</header>
