<link rel="shortcut icon" type="image/x-icon" href="assets/favicon/favicon.ico">
<link rel="stylesheet" href="{{ "assets/css/font-awesome.css" | relative_url }}">
<link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "assets/css/bootstrap-grid.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "assets/css/bootstrap-reboot.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">