<div class="fluid-container">
  <div class="row" style="align-items: center; display: flex; vertical-align: middle">
    <div class="col-5 offset-1">
      <div class="float-left">
        <span class="label">Integrates with</span>
      </div>
    </div>
    <div class="col-6">
      <a href="https://applitools.com" target="_blank" rel="noopener"><img src="assets/img/integration/applitools-logo.png" class="company-logo" rel="noopener" alt="AppliTools"/></a>
    </div>
    <div class="col-6"></div>
  </div>
</div>
