<div class="fluid-container">
  <div class="row" style="align-items: center; display: flex; vertical-align: middle">
    <div class="col-4">
      <a href="https://www.matrak.com.au" target="_blank"><img src="assets/img/users/matrak-logo.png" class="user-logo" /></a>
    </div>
    <div class="col-4">
      <a href="https://www.smartstream-stp.com" target="_blank"><img src="assets/img/users/smartstream-logo.png" class="user-logo" /></a>
    </div>
    <div class="col-4">
      <a class="btn btn-danger join-button" href="https://gwenify.com">Join network</a>
    </div>
  </div>
</div>