<div class="fluid-container">
  <div class="row" style="align-items: center; display: flex; vertical-align: middle">
    <div class="col-4">
      <a href="https://www.matrak.com.au" target="_blank"><img src="assets/img/users/matrak-logo.png" class="company-logo" /></a>
    </div>
    <div class="col-4">
      <a href="https://www.smartstream-stp.com" target="_blank"><img src="assets/img/users/smartstream-logo.png" class="company-logo" /></a>
    </div>
    <div class="col-4">
      <a href="https://crystaldelta.com/" target="_blank"><img src="assets/img/users/crystaldelta-logo.png" class="company-logo-2" /></a>
    </div>
  </div>
  <div class="row" style="align-items: center; display: flex; vertical-align: middle">
    <div class="col-4"></div>
    <div class="col-4">
      <a href="https://sdet-digital.business.site/" target="_blank"><img src="assets/img/users/sdetdigital-logo.png" class="company-logo" /></a>
    </div>
    <div class="col-4"></div>
  </div>
</div>
