<div class="fluid-container">
  <div class="row" style="align-items: center; display: flex; vertical-align: middle">
    <div class="col-3">
      <div class="float-left">
        <a name="known-users"></a><span class="badge badge-light">Known users</span>
      </div>
    </div>
    <div class="col-3">
      <a href="https://www.matrak.com.au" target="_blank"><img src="assets/img/users/matrak-logo.png" class="company-logo" /></a>
    </div>
    <div class="col-3">
      <a href="https://www.smartstream-stp.com" target="_blank"><img src="assets/img/users/smartstream-logo.png" class="company-logo" /></a>
    </div>
    <div class="col-3">
      <a href="https://crystaldelta.com/" target="_blank"><img src="assets/img/users/crystaldelta-logo.png" class="company-logo-2" /></a>
    </div>
  </div>
</div>
