---
---
@charset 'utf-8'

@import 'https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,700,700i'
@import 'mixins'

// Typography

body
    font-family: 'Nunito Sans', sans-serif !important
    font-size: 1.4vh
    font-weight: 300

h2
    font-family: 'Hind', sans-serif !important
    font-weight: 700
    font-size: 4.3vh
    color: #2465FF
    margin-bottom: 0

h3
    font-family: 'Hind', sans-serif !important
    font-weight: bold
    font-size: 2.7vh
    color: #3f3f3f
    margin-bottom: 1em

hr
    margin-top: 0

.gwt
    font-family: 'Hind', sans-serif !important
    font-weight: 700
    font-size: 2.9vmin
    color: #407aff

.blockquote
    font-weight: 300
    
.blue-font
    color: #0020dd

.light-blue-font
    color: #80aaff

a.light-link
    text-decoration: none

a.light-link:hover
    text-decoration: none

.gwen-logo
    height: 14vh
    width: 14vh

.gwen-text
    height: 4.4vh

.company-logo
    height: 6vh

.smartstream-logo
    height: 3.75vh

.no-padding
    padding: 0 0 0 0

.table
    margin: 0 0 0 0
    padding: 0 0 0 0

.table td
    padding: 1vh 1vh
    border-top: none

.hr-blue
    border-top: 1px solid #1A0B80

.hr-bottom-light
    border-bottom: 1px solid rgba(0,0,0,.1)

.hr-bottom-dark
    border-bottom: 1px solid #c0c0c0

.nav-header
    padding: 0.25vh 0.25vh

.nav-footer
    padding: 0.25vh 0.25vh

.nav-font
    font-family: 'Raleway', sans-serif !important
    font-size: 1.9vh
    font-weight: 300

.gwenify-header-link
    height: 1.07em
    padding-bottom: 0.15em

a.nav-dark
    color: #292b2c
a.nav-dark:hover
    color: #202020
a.nav-dark:visited
    color: #292b2c

.icon-logo
    width: 10.5vh
    height: 10.5vh

.item-point
    font-size: 2.4vh

.fixed-font
    font-family: "Liberation Mono","Courier New",monospace
    font-size: 2.7vmin

.join-button
    font-size: 2.3vh
    padding-left: 20px
    padding-right: 20px

.label
    font-family: 'Raleway', sans-serif !important
    font-size: 2.3vh
    font-weight: 700

.instructions
    font-family: 'Raleway', sans-serif !important
    font-size: 2.5vmin
    font-weight: 200

.spec-container
    padding: 10px 10px 1px 10px
    font-size: 1.7vh

.conditional-break
    display: block

@media (max-width: 991.98px) and (orientation: landscape)
    body
        font-size: 6vh
    h2
        font-size: 6vh
    h3
        font-size: 4.7vh
    .gwt
        font-size: 4.5vh
    .blockquote
        font-size: 5.3vh
    .gwen-logo
        width: 22vh
        height: 22vh
    .gwen-text
        height: 7.8vh
    .table td
        padding: 1.65vh 1.65vh
    .nav-header
        padding: 0.413vh 0.413vh
    .nav-footer
        padding: 0.413vh 0.413vh
    .nav-font
        font-size: 4vh
    .icon-logo
        width: 17.325vh
        height: 17.325vh
    .item-point
        font-size: 4.4vh
    .join-button
        font-size: 4vh
    .label
        font-size: 4.75vh
    .instructions
        font-size: 4vmin
    .ascii-art
        font-size: 3.2vmin
    .company-logo
        height: 11vh
    .smartstream-logo
        height: 7vh
    .spec-container
        padding: 12px 12px 1px 12px
        font-size: 2.8vh
    .conditional-break
        display: block

@media (max-width: 991.98px) and (orientation: portrait)
    body
        font-size: 1vw
    h2
        font-size: 4.5vw
    h3
        font-size: 4vw
    .gwt
        font-size: 3.4vw
    .blockquote
        font-size: 3.3vw
    .gwen-logo
        width: 15.75vw
        height: 15.75vw
    .gwen-text
        height: 5vw
    .table td
        padding: 0.945vh 0.945vh
    .nav-header
        padding: 0.12vh 0.12vh
    .nav-footer
        padding: 0.236vh 0.236vh
    .nav-font
        font-size: 2.8vw
    .icon-logo
        width: 10.3vh
        height: 10.3vh
    .item-point
        font-size: 3.8vw
    .join-button
        font-size: 2vh
    .label
        font-size: 3.5vw
    .instructions
        font-size: 2.9vw
    .ascii-art
        font-size: 2.15vmin
    .company-logo
        height: 8.3vw
    .smartstream-logo
        height: 5.4vw
    .spec-container
        font-size: 2.3vw
    .conditional-break
        display: inline
