---
---
@charset 'utf-8'

@import 'https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,700,700i'
@import 'mixins'

// Typography

body
    font-family: 'Raleway', sans-serif !important
    font-size: 1.4vh
    font-weight: 300

h2
    font-family: 'Hind', sans-serif !important
    font-weight: 900
    font-size: 4.25vmin
    color: #a3a3c2
    margin-bottom: 0

h3
    font-family: 'Raleway', sans-serif !important
    font-weight: 300
    font-size: 2.6vh
    margin-bottom: 0

hr
    margin-top: 0

.blue-font
    color: #1A0B80

a.light-link
    text-decoration: none
    border-bottom: 1px dotted #f8f9fa

a.light-link:hover
    text-decoration: none
    border-bottom: 1px solid #f8f9fa

.gwen-logo
    height: 15vh
    width: 15vh

.gwen-text
    height: 5vh

.company-logo
    height: 6vh

.smartstream-logo
    height: 3.75vh

.no-padding
    padding: 0 0 0 0

.table
    margin: 0 0 0 0
    padding: 0 0 0 0

.table td
    padding: 1vh 1vh
    border-top: none

.hr-blue
    border-top: 1px solid #1A0B80

.hr-bottom-light
    border-bottom: 1px solid rgba(0,0,0,.1)

.hr-bottom-dark
    border-bottom: 1px solid #c0c0c0

.nav-header
    padding: 0.25vh 0.25vh

.nav-footer
    padding: 0.25vh 0.25vh

.nav-font
    font-family: 'Raleway', sans-serif !important
    font-size: 1.9vh
    font-weight: 300

.icon-logo
    width: 10.5vh
    height: 10.5vh

.item-point
    font-family: 'Avenir', sans-serif !important
    font-size: 2.9vh
    font-weight: 400

.fixed-font
    font-family: "Liberation Mono","Courier New",monospace
    font-size: 2.7vmin

.join-button
    font-size: 2.3vh
    padding-left: 20px
    padding-right: 20px

.badge
    font-family: 'Raleway', sans-serif !important
    font-size: 2.3vh
    font-weight: 700

.instructions
    font-family: 'Raleway', sans-serif !important
    font-size: 2.5vmin
    font-weight: 200

.spec-container
    padding: 10px 10px 1px 10px
    font-size: 2vh

.conditional-break
    display: block

@media (max-width: 991.98px) and (orientation: landscape)
    body
        font-size: 6vh
    h2
        font-size: 7.5vh
    h3
        font-size: 6vh
    .gwen-logo
        width: 24.75vh
        height: 24.75vh
    .gwen-text
        height: 7.9vh
    .table td
        padding: 1.65vh 1.65vh
    .nav-header
        padding: 0.413vh 0.413vh
    .nav-footer
        padding: 0.413vh 0.413vh
    .nav-font
        font-size: 3.135vh
    .icon-logo
        width: 17.325vh
        height: 17.325vh
    .item-point
        font-size: 5.5vh
    .join-button
        font-size: 4vh
    .badge
        font-size: 4.75vh
    .instructions
        font-size: 4vmin
    .ascii-art
        font-size: 3.2vmin
    .company-logo
        height: 11vh
    .smartstream-logo
        height: 7vh
    .spec-container
        padding: 12px 12px 1px 12px
        font-size: 3.8vh
    .conditional-break
        display: block

@media (max-width: 991.98px) and (orientation: portrait)
    body
        font-size: 1.232vh
    h2
        font-size: 5vmin
    h3
        font-size: 2.4vh
    .gwen-logo
        width: 9.6vh
        height: 9.6vh
    .gwen-text
        height: 3.3vh
    .table td
        padding: 0.945vh 0.945vh
    .nav-header
        padding: 0.12vh 0.12vh
    .nav-footer
        padding: 0.236vh 0.236vh
    .nav-font
        font-size: 1.7955vh
    .icon-logo
        width: 10.3vh
        height: 10.3vh
    .item-point
        font-size: 2.1vh
    .join-button
        font-size: 2vh
    .badge
        font-size: 1.65vh
    .instructions
        font-size: 2.9vmin
    .ascii-art
        font-size: 2.15vmin
    .company-logo
        height: 4vh
    .smartstream-logo
        height: 2.8vh
    .spec-container
        padding: 5px 5px 1px 5px
        font-size: 1.5vh
    .conditional-break
        display: inline

